.guestbook-container {
  width: 478px;
}

.guest-form {
  display: flex;
  flex-direction: column;
}

.guest-form input {
  margin: 20px 0;
  border-radius: 10px;
}

.guest-form input[type="text"] {
  padding: 1em;
}

.guest-form textarea {
  padding: 1em;
  height: 300px;
  border-radius: 10px;
}

.guest-form input[type="submit"] {
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: rgb(57, 120, 255);
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
}

.message-container {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
}

.message-content {
  display: block;
  font-size: 0.9em;
}
