.guestbook-container {
  width: 478px;
}

.guestbook-container h3 {
  text-align: center;
  margin-bottom: 1em;
}

.guest-form {
  display: flex;
  flex-direction: column;
}

.guest-form input {
  box-shadow: 0px 0px 8px #ccc;
  border: none;
  margin: 20px 0;
}

.guest-form input[type="text"] {
  padding: 1em;
}
.guest-form input[type="text"]:focus {
  outline:none;
}

.guest-form textarea {
  padding: 1em;
  height: 300px;
  border: none;
  box-shadow: 0px 0px 8px #ccc;
}

.guest-form textarea:focus {
  outline: none;
}

.guest-form input[type="submit"] {
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: rgb(57, 120, 255);
  border-radius: 3px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-weight: bold;
}

.message-container {
  margin-top: 2em;
  padding: 1em;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.message-content {
  display: block;
  font-size: 0.9em;
}
